.reddiv {
  /* animation: mymove 0.5s; */
  background-color: rgba(0, 255, 0, 1);
}

.greydiv {
  background-color: rgb(100, 100, 100);
}
div.col:hover {
  transition-duration: 0.5s;
  transform: scale(0.95);
}
div.col:active {
  background-color: azure;
  transition-duration: 0.05s;
  transform: scale(0.8);
}

@media only screen and (min-width: 1400px) {
  div#game-text {
    font-size: 70px;
  }
  div#avgtext {
    font-size: 30px;
  }
  div#infotext {
    font-size: 35px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  div#game-text {
    font-size: 50px;
  }
  div#avgtext {
    font-size: 30px;
  }
  div#infotext {
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  div#game-text {
    font-size: 50px;
  }
  div#avgtext {
    font-size: 30px;
  }
  div#infotext {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  div#game-text {
    font-size: 50px;
  }
  div#avgtext {
    font-size: 40px;
  }
  div#infotext {
    font-size: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  div#game-text {
    font-size: 50px;
  }
  div#avgtext {
    font-size: 40px;
  }
  div#infotext {
    font-size: 20px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  div#game-text {
    font-size: 35px;
  }
  div#avgtext {
    font-size: 25px;
  }
}
